[user]
    email = luc.sorignet@gmail.com
    name = Luc SORIGNET
[core]
    editor = vi
[alias]
    undo = git reset --soft HEAD^
    amend = commit --amend
    changes = diff --name-status
    dic = diff --cached
    diffstat = diff --stat
    oneline = log --pretty=oneline --abbrev-commit --graph --decorate
    chb = checkout -b
    ch = checkout
    b = branch
    a = add
    d = rm
    who = blame
    tree = log --graph
    unstage = reset HEAD --
    last = log -1 HEAD
    lc = !git oneline ORIG_HEAD.. --stat --no-merges
[color]
    ui = auto
[commit]
    template = ~/.gitmessage
